<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
<script defer>
  document.addEventListener('DOMContentLoaded', () => {
    const configInput = document.querySelector('input[name="main_config"]');

    // Debug: configInput.type="text"; configInput.style.backgroundColor = "#eee";

    new Vue({
      el: '#supposeSoUi',
      data: function() {
        // PHP replaces this next line, injecting the actual config object.
        var d = {} /*config*/;

        // Implode the excludePaths to a string.
        d.excludePaths = d.excludePaths.join("\n");

        console.log("config", d);
        return d;
      },
      methods: {
        addPermission(button, perm, isCheckedNow) {
          const existing = (button.permissions.indexOf(perm));
          console.log("addPermission called", button, perm, isCheckedNow, existing);

          if (existing === -1 && isCheckedNow) {
            button.permissions.push(perm);
          }
          else if (!isCheckedNow && existing > -1) {
            button.permissions.splice(existing, 1);
          }
        },
      },
      computed: {
        jsonOutput() {
          // Sync the json in the hidden field.
          const v = {permissions: this.permissions, buttons: this.buttons};
          v.excludePaths = this.excludePaths.split(/[\r\n]+/).map(p => p.replace(/^\s*(.*?)\s*$/, '$1')).filter(p => p.length > 0);
          configInput.value = JSON.stringify(v);
        }
      }

    });
  });
 </script>
<style>
.supposeso input[type="text"] {
  border: solid 1px #eee;
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
}
</style>

 <div id="supposeSoUi" class="supposeso">
  <!-- First we define short string names of permissions -->
  <h2>Permission names</h2>
  <div v-for="(perm, i) in permissions" :key="i">
    <input v-model="permissions[i]" type="text" :disabled="perm === 'essential'"/>
  </div>
  <button @click.prevent="permissions.push('')" >Add Permission</button>

  <h2>Permission buttons</h2>
  <div v-for="(button, i) in buttons">
    <label :for="'btnText' + i" >Button text</label>
    <input :id="'btnText' + i"  v-model="button.text" type="text" />
    <label :for="'btnClass' + i" >Button class</label>
    <input :id="'btnClass' + i"  v-model="button.cssClass" type="text" />

    <div v-for="(perm, j) in permissions" :key="j" >
      <label ><input type="checkbox"
        @input="addPermission(button, perm, $event.target.checked)"
        :checked="button.permissions.indexOf(perm)>-1" />
        {{perm}}</label>
    </div>
  </div>
  <button @click.prevent="buttons.push({text: '', 'cssClass': '', permissions: ['essential']})" >Add Button</button>

  <h2>Paths to exclude (optional)</h2>
  <p>Enter paths you'd like to exclude, one per line. Use * for wildcard. This goes on paths, not path aliases.</p>
  <textarea
    v-model="excludePaths"
    rows=6
    cols=60
    ></textarea>

  <!-- This uses a computed property to sync the external hidden input value -->
  <span :x="jsonOutput" ></span>

 </div>
